
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container {
  align-items: center;
  text-align: center;
}
